<h1>Organizer</h1>
<div id="goals">
  <div data-bind="visible: goals().length == 0">
    <div>Add your first goal!</div>
    <input id="first-goal-text" data-bind="value: firstGoalTitle, event: {keypress: firstGoalOnEnterKey}"/>
    <button type="button" data-bind="click: addFirstGoal">Add First Goal!</button>
  </div>

  <h3>Goals List:</h3>


  <script id="goal-template" type="text/html">
    <li data-bind="css: 'level-' + level()">
      <div data-bind="text: title"></div>
      <!--<a href="#" data-bind="click: $root.removeTask">Delete</a>-->
      <p data-bind="css: { error: hasError }">
        <label for="goal-text">New goal name:</label>
        <input id="goal-text" data-bind="textInput: newGoalTitle, event: {keypress: $root.newChildOnEnterKey}"/>
        <span data-bind='visible: hasError, text: $root.errorMessage'> </span>
      </p>
      <button type="button" data-bind="enable: readyToAdd, click: $root.addGoalAsSibling">Add Down</button>
      <button type="button" data-bind="enable: readyToAdd, click: $root.addGoalAsChild">Add Down And Right</button>
    </li>

    <!-- ko template: { name: 'goal-template',
                        foreach: children } -->
    <!-- /ko -->
  </script>


  <!--todo add this back:
  , visible: goals().length > 0
  -->

  <ul data-bind="template: { name: 'goal-template', foreach: goals }" id="goal-list"></ul>

  Total goals: <span data-bind="text: goals().length"></span>
</div>

<div id="debug"></div>

<script type="application/javascript">
    goalList = new GoalListViewModel();
    goalList.loadAllGoals();
    ko.applyBindings(goalList);
</script>
