<h1>Organizer</h1>
<div id="goals">
  <div data-bind="visible: goals().length == 0">
    <div>Add your first goal!</div>
    <input id="first-goal-text" data-bind="value: newGoalTitle"/>
    <button type="button" data-bind="click: addFirstGoal">Add First Goal!</button>
  </div>

  <h3>Goals List:</h3>
  <ul data-bind="foreach: goals, visible: goals().length > 0" id="goal-list">
    <li data-bind="css: 'level-' + level()">
      <div data-bind="text: title"></div>
      <!--<a href="#" data-bind="click: $parent.removeTask">Delete</a>-->
      <input id="goal-text" data-bind="value: $parent.newGoalTitle"/>
      <button type="button" data-bind="click: $parent.addGoalAsSibling">Add Down</button>
      <button type="button" data-bind="click: $parent.addGoalAsChild">Add Down And Right</button>
    </li>
  </ul>

  Total goals: <span data-bind="text: goals().length"></span>
</div>

<div id="debug"></div>

<script type="application/javascript">
    var goalList = new GoalListViewModel();
    ko.applyBindings(goalList);
    goalList.loadAllGoals();
</script>
