// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#goal-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@for $i from 0 through 10 {
  .level-#{$i} {
    margin-left: #{($i * 20)}px
  }
}

#goals {
  margin: 30px;
}

p.error > input {
  border: 1px solid red;
}

p.error > span {
  color: red;
}
