// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$levelOneColor: green;
$levelTwoColor: blue;
$levelThreeColor: red;
$levelFourColor: purple;

#goal-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@for $i from 0 through 10 {
  .level-#{$i} {
    margin-left: #{($i * 50)}px
  }
}

.level-0 {
  border-left: solid $levelOneColor;
}

.level-1 {
  border-left: solid $levelTwoColor;
}

.level-2 {
  border-left: solid $levelThreeColor;
}

.level-3 {
  border-left: solid $levelFourColor;
}

.level {
  padding-left: 10px;
}

#goals {
  margin: 30px;
}

p.error > input {
  border: 1px solid red;
}

p.error > span {
  color: red;
}

.goal-title {
  font-weight: bold;
  font-size: 1.5em;
}

.delete-icon {
  width: 17px;
  padding-left: 7px;
}

.delete-icon:hover {
  width: 17px;
  padding-left: 7px;
  cursor: pointer;
}

.editable-title > input {
  font-weight: bold;
  font-size: 1em;
}

#button-list {
  margin-bottom: 20px;
}
